h1{
    color:white;
    border: 12px solid;
    border-style: double;
    border-color:white ;
    padding: 8px;
}
h2{
  color: white;
}
p{
    color: white;
    padding: 20px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  body{background-color: black;
      font-family: monospace;
  }
  #all-contents {
    max-width: 800px;
    margin: auto;
 }
 li {
  color:white;
 }
a:hover{
color: red;
}
a{
  color: white;
}
#lc{
  height: 900px;
  width: 1000px;
}
body{
  b;
}
/* portfolio styles */
.content h1 {
  color: White;
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #eee;
}

#portfolio a {
  text-decoration: none;
  color: #454545;
}






















