h1{
    color: black;
    border: 8px solid;
    border-color: black;
    border-style: double;
}

#all-contents{
    background-color: tomato;
    padding: 10px;
   
    border: 8px solid;
    border-radius: 10px;
    border-top: black;
}a{
    color: white;
}

body{
    background-color: lightgoldenrodyellow;
}